#container-header {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
}

ion-header ion-toolbar {
  height: 54px;
}

#container-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 42%;
}

ion-img {
  width: 150px;
  height: 150px;
}

ion-grid {
  --ion-grid-padding-sm: 20px;
  --ion-grid-padding-md: 30px;
  --ion-grid-padding-lg: 40px;
  --ion-grid-padding-xl: 100px;
}
